# PrevTest*/
*.zip
*.pdf

# # Ignore directories named 'MyImages', 'MyResults', 'ExtraCredit', 'Final_sub'
# HW6_images/
# MyImages/
# MyResults/
# MyVersion/
# Final_Images/
# Final_sub/
# ExtraCredit/