# PrevTest*/
*.zip
*.pdf

# # Ignore directories named 'MyImages', 'MyResults', 'ExtraCredit', 'Final_sub'
# HW6_images/
MyImages/
MyImageResults/
MyResults/
HW7-Auxilliary
HW8-Files
Pickle_Files
# MyVersion/
# Final_Images/
# Final_sub/
# ExtraCredit/
Numpy_Files/

original.py
originalV2.py
trial.py
*.tex
*.jpg
*.png
*.jpeg

# Python
__pycache__/
*.pyc

# Numpy / data files
*.npy
*.npz

# PyTorch models / weights
*.pt
weights/
Task_2/AutoModels/

# Docs (optional)
*.doc

# OS / misc
.DS_Store
