# PrevTest*/
*.zip
*.pdf

# # Ignore directories named 'MyImages', 'MyResults', 'ExtraCredit', 'Final_sub'
MyImages/
MyDataset/
REFINED/
TASK3Images/
TEST_Dataset/
MyResults/
Final_SUB/

HW9-Files
Pickle_Files

__pycache__/
depth_map/__pycache__/
depth_map/data
depth_map/pics

# MyVersion/
# Final_Images/
# Final_sub/
# ExtraCredit/
Numpy_Files/

original.py
originalV2.py
trial.py
*.tex

HW9.py

TASK_1/
TASK_2/
TASK_3/
TASK_4/