PrevTest*/
MyResults/
*.zip
*.pdf
Final_Images/
HW5_images/

# Ignore directories named 'MyImages', 'MyResults', 'ExtraCredit', 'Final_sub'
MyImages/
MyResults/
ExtraCredit/
Final_sub/
MyVersion/